<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="STORE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0"/>
  </startup>
  <appSettings>
    <add key="P" value="D"/>
  </appSettings>
  <userSettings>
    <STORE.Properties.Settings>
      <setting name="UPLOADED_FILENAME" serializeAs="String">
        <value>FilePath</value>
      </setting>
      <setting name="ORIGINAL_FILENAME" serializeAs="String">
        <value>FilePath</value>
      </setting>
      <setting name="UPLOAD_BY_USERNAME" serializeAs="String">
        <value>Size</value>
      </setting>
    </STORE.Properties.Settings>
  </userSettings>
</configuration>